<!-- Main div that contains the listing, the facets, the search field.
	the pagination and the informative messages. -->
<div id="main_content" class="col-xs-12 col-sm-12 col-md-12">
	<!--
		<form ng-submit="submit()" class="form-wrapper cf">
        <input ng-model="search_query" name="search_query" type="text" placeholder="Search here..." required>
        <button type="submit">Search</button>
    </form>
	-->

	<div class="col-xs-12 col-sm-12 col-md-12 landing_links">
		<h3> Resource Types </h3>
		<a href="#/training/search" class="link col-xs-6 col-sm-3 col-md-3 training_course">Training Courses</a>
		<a href="#/educational/search" class="link col-xs-6 col-sm-3 col-md-3 open_educational">Open Educational Resources</a>
		<a href="#/publications/search"  class="link col-xs-6 col-sm-3 col-md-3 research_publications"> Research Publications </a>
		<a href="#/educational/search/?q=pathway" class="link col-xs-6 col-sm-3 col-md-3 publications"> Train the trainer scenarios </a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 landing_links">
		<h3> Themes </h3>
		<a href="#/educational/search/?q=food protection" class="link col-xs-6 col-sm-3 col-md-3 food_security"> Food Protection Defence </a>
		<a href="#/educational/search/?q=risk analysis&set=aglrfaocdx,optunesco,faocapacityportal,oeorganiceprints,oeintute" class="link col-xs-6 col-sm-3 col-md-3 foodborne"> Risk Analysis</a>
		<a href="#/educational/search/?q=haccp&set=aglrfoodsafety,faocapacityportal,aglrfaocdx,oeorganiceprints,oeintute" class="link col-xs-6 col-sm-3 col-md-3 haccp"> HACCP </a>
		<a href="#/educational/search/?q=codex alimentarius&set=aglrfaocdx" class="link col-xs-6 col-sm-3 col-md-3 codex"> Codex Alimentarius </a>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 landing_links">
		<h3> Featured Content Providers </h3>
		<a href="#/educational/search/?set=aglrfskn" class="provider col-xs-6 col-sm-4 col-md-4 fskn">FSKN</a>
		<a href="#/educational/search/?set=aglrfaocdx" class="provider col-xs-6 col-sm-4 col-md-4 fao">FAO</a>
		<a href="#/educational/search/?set=aglrjifsan" class="provider col-xs-6 col-sm-4 col-md-4 jifsan">JIFSAN</a>
		<a href="#/educational/search/?set=aglrgfspoer" class="provider col-xs-6 col-sm-3 col-md-3 ncfpd">NCFPD</a>
		<a href="#/educational/search/?set=aglropencourseware" class="provider col-xs-6 col-sm-3 col-md-3 ocwc" >OCWC</a>
		<a class="provider col-xs-6 col-sm-3 col-md-3 gma" >GMA</a>
		<a class="provider col-xs-6 col-sm-3 col-md-3 ifpri" >IFPRI</a>

	</div>

</div>
